# Python Virtual Environment
venv/
env/
.env

# Streamlit Secrets 
.streamlit/secrets.toml

# Python Cache & Artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Vector Database Lokal (ChromaDB)
chroma_db/
vectorstore/
*.sqlite3

# OS System Files
.DS_Store
Thumbs.db